<html>
<head>
	<title> Form </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link href="https://fonts.googleapis.com/css?family=Montserrat|Srisakdi" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>



	<script src="../static/js/fetch.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">


</head>
<!-- <body>PUT YOUR HTML FILE HERE</body> -->

<body>
	<nav class="navbar navbar-default sticky-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">ONTRAC-19</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav ml-auto">
<!-- 					<li class="hidden active">
						<a href="#page-top"></a>
					</li> -->
					<li class="">
						<a class="page-scroll nav-item nav-link" href="#about">Home</a>
					</li>
					<li class="active">
						<a class="page-scroll nav-item nav-link" href="#about">Form</a>
					</li>
					<li class="">
						<a class="page-scroll nav-item nav-link" href="http://127.0.0.1:8000/results">Cases</a>
					</li>
					<li class="">
						<a class="page-scroll nav-item nav-link" href="#cases">About</a>
					</li>
					<li class="">
						<a class="page-scroll nav-item nav-link" href="#about">More</a>
					</li>
				</ul>
            </div>
        </div>
    </nav>

<div class="popup" id="popup_div">
	<div id="inner_div">
	</div>
	<button id="close" name="close">Close</button>
	<button id="btn" name="submit">Go back</button>
</div>
    
	<div class="wrapper" id="app">
		<div class="card-form form" method="POST">
			<div class="card-form__inner">
				<div class="card-form-header text-center">
					<h3>COVID-19 Form</h3>
				</div>
				<div class="card-input">
					<label for="patient_name" class="card-input__label">Name</label>
					<input type="text" id="patient_name" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">
				</div>
				<div class="card-input">
					<label for="date_positive" class="card-input__label">Date Positive</label>
					<input type="date" id="date_positive" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
				</div>
				<div class="card-input">
					<label for="patient_birthday" class="card-input__label">Birthday</label>
					<input type="date" id="patient_birthday" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">
				</div>
				<div class="card-input">
					<label for="patient_sex" class="card-input__label">Sex</label>
					<select name="patient_sex" id="patient_sex" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
						<option value=""></option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="card-input">
					<label for="myInput" class="card-input__label">Barangay</label>
					<input type="text" id="myInput" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">
				</div>
				<div class="card-input">
					<label for="patient_contact_number" class="card-input__label">Contact Number</label>
					<input type="number" id="patient_contact_number" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName">
				</div>
				<div class="card-input">
					<label for="patient_asymptomatic" class="card-input__label">Are you symptomatic?</label>
					<select name="patient_asymptomatic" id="patient_asymptomatic" class="card-input__input" onchange="showDiv('hidden_div', this)" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
						<option value=""></option>
						<option value="symptomatic">Symptomatic</option>
						<option value="asymptomatic">Asymptomatic</option>
					</select>
				</div>
				<div id="hidden_div">
					<div class="form-row bg-light border border-bottom-0 mx-3">
						<div class="col text-center py-1">Symptoms</div>
					</div>
					<div class="form-row border mx-3">
						<div class="form-group col border-right my-3 ml-2" id="parent_div"></div>
					</div>
				</div>
				<div class="card-input">
					<label for="patient_status" class="card-input__label">Health Status</label>
					<select name="patient_status" id="patient_status" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
						<option value="infected">Positive</option>
						<option value="recovered">Recovered</option>
						<option value="died">Deceased</option>
					</select>
				</div>
				<button data-js="open" id="btn-check" class="btn btn-primary">
				Submit
				</button>
			</div>
		</div>
	</div>
	<script src="../static/js/barangaySearch.js"></script>	
	<script src="../static/js/index.js"></script>
	<script src="../static/js/form_to_jsonObject.js"></script>
</body>
</html>




